@media print {
    header, aside, footer, .sidebar-author, .categories {
        display:none;
    }

    .main-entry, .entry-content {
        width:100%;
        max-width:100%;
    }

    .wp-block-columns {
        flex-wrap:nowrap;
    }
}