@media print {
    header, aside, footer, .sidebar-author, .categories {
        display:none;
    }

    .main-entry, .entry-content {
        width:100%;
        max-width:100%;
    }

    .entry-content {
        padding:0;
        margin:0;
    }

    .wp-block-columns {
        flex-wrap:nowrap;
    }

    .charImg {
        width:200px;
        height:auto;
    }
}