
@font-face {
  font-family: 'zaiCalligraphyScriptHandwritten';
  src: url('zaiCalligraphyScriptHandwritten.eot?#iefix') format('embedded-opentype'),  url('zaiCalligraphyScriptHandwritten.woff') format('woff'), url('zaiCalligraphyScriptHandwritten.ttf')  format('truetype'), url('zaiCalligraphyScriptHandwritten.svg#zaiCalligraphyScriptHandwritten') format('svg');
  font-weight: normal;
  font-style: normal;
}
