// Styles for main content
// _mainContent.scss

.site-main {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
}

.content-area {
    a {
        border-bottom: 1px dotted #8E563F;

        &:hover {
            border-style: solid;
        }
    }

    p {
        margin-bottom: 15px;
    }
}

.main-entry {
    width: 60%;

    .entry-title {
        margin-bottom: 23px;
    }

    .entry-content {
        margin: 0 auto;
        padding: 20px 15px;
        max-width: 600px;
        margin-top: 30px;

        li {
            line-height: 18px;
            padding-left: 20px;
            background-image: url(../images/Aelteres_Zeichen_Upgrade_Eye_of_light_and_darkness.png);
            background-size: 14px 14px;
            background-repeat: no-repeat;
            background-position: 0 2px;
            margin-bottom: 10px;
        }
    }
}


.post-content {
    h2 {
        margin-top: 0;
        margin-bottom: 15px;
    }
}

.page-header {
    .author-description {
        padding: 15px;

        &:after {
            clear: both;
            display: table;
            content: '';
        }
    }

    .author-avatar {
        float: left;
        margin-right: 15px;
        margin-bottom: 15px;
    }
}

h2 {
    margin: 25px 0 20px 0;
}

h3 {
    margin: 22px 0 18px 0;
}

h4 {
    margin: 20px 0 16px 0;
}

.tags {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}