// Sidebars and Widgets - Top, Left, Right
// Theme: Cthulhupark

.sidebar {
    width: 20%;
    padding: 20px 15px;
    min-width: 150px;

    @media #{$tablet} {
        width: 50%;
    }
}

.sidebar-left {
    border-right: 1px dotted #8E563F;

    @media #{$tablet} {
        order: 1;
    }
}

.sidebar-right {
    border-left: 1px dotted #8E563F;
}

.sidebar-top {
    position: absolute;
    bottom: 42px;
    left: 0;
    width: 100%;
    padding: 5px;

    .widget {
        display: inline-block;

        .widget-title {
            display: none;
        }

        label {
            display: block;
        }

        #wp-submit {
            padding: 4px;
            display: inline;
        }

        input[type='submit'] {
            padding: 4px;
        }

        .logout {
            display: inline;
        }

        .widget_cplogin_widget {
            p {
                display: inline-block;
            }
        }
    }

    input {
        padding: 0 3px;
    }

    .widget_search {
        float: right;
    }

    .logged-in {
        .widget_cplogin_widget {
            padding-top: 15px;
        }
    }

    @media #{$tablet} {
        bottom: 0;
    }
}

li.widget {
    margin-bottom: 20px;

    .widget-title {
        text-align: center;
        padding: 3px;
        margin-bottom: 15px;
    }
}

.widget_cptbe_widget {
    .entries {
        border: 1px dotted #8E563F;
        padding: 5px;
        margin: 4px 0;

        a {
            display: block;
            border: none;

            &:hover {
                border: none;
            }
        }

        .tbe-entry-meta {
            padding: 3px 5px;
            margin: 7px -5px -5px -5px;

            .author {
                border-right: 1px dotted #8E563F;
                padding-right: 4px;
            }

            .date {
                float: right;
                border-left: 1px dotted #8E563F;
                padding-left: 4px;
            }
        }
    }
}

.sidebar-author {
    flex: 0 0 45px;
    padding-top: 20px;

    img {
        width: 45px;
        margin: auto;
        position: absolute;
        right: -10px;
        bottom: 0;
    }

    a {
        border: none;

        &:hover {
            border: none;
        }
    }

    .widget {
        padding: 0;
        margin: 0 0 6px 0;
        text-align: center;
        border-radius: 3px 0 0 3px;
        position: relative;
        height: 50px;

        @media #{$tablet} {
            width: 50px;
            height: auto;

            img {
                position: static;
            }

            .widget-title {
                display: none;
            }
        }

        .widget-title {
            margin: 0;
            padding: 0 1px 3px 1px;
            width: 50px;
            bottom: -13px;
            z-index: 999;
            visibility: hidden;
            position: absolute;
            right: -10px;
        }

        &:hover {
            .widget-title {
                visibility: visible;
                right: 0;
            }

            img {
                right: 0;
            }
        }
    }

    @media #{$tablet} {
        order: -2;
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 100%;
        max-width: 600px;
        margin: auto;
        justify-content: space-around;
        padding-top: 0;
    }

}