// Sidebars - Top, Left, Right

.sidebar {
    width:20%;
    padding:20px 15px;
    min-width: 150px;
}

.sidebar-left {
    border-right:1px dotted #8E563F;
}

.sidebar-right {
    border-left:1px dotted #8E563F;
}

.sidebar-top {
    position: absolute;
    bottom:42px;
    left:0;
    width:100%;
    padding:5px;

    .widget{
        display:inline-block;

        .widget-title{
            display:none;
        }

        label {
            display:block;
        }

        .widget_cplogin_widget {
            p{
                display:inline-block;
            }
        }
    }  
    
    input {
        padding: 0 3px;
    }
}

li.widget {
    margin-bottom:20px;

    .widget-title {      
        text-align: center;
        padding:3px;
        margin-bottom:15px;
    }
}



