  //Fonts
  // _fonts.scss

  $mainFont: 'Traveling Typewriter',
  Courier,
  monospace;
  $headlineFont: 'Fredericka the Great',
  serif;
  $mainScriptFont: Ruthie,
  cursive;
  $dairyFont:'Shadow Into Light',
  cursive;
  $LCFont: 'Bad Script',
  cursive;
  $MycroftFont: 'Zai Calligraphy',
  cursive;
  $HenryFont: Bilbo,
  cursive;
  $RagnarFont: 'Just Me Again Down Here',
  cursive;
  $SanjuroFont: Hoffmann,
  cursive;

  //Colors
  $mainBackgroundColor:#f9e6a4;
  $mainAccentColor:#8E563F;
  $entryMetaColor:#999;
  $sidebarTopBGColor: rgba(53, 21, 9, 0.7);
  $whiteTrans50:rgba(255, 255, 255, 0.5);


  $dairyBGColor:#FEFCE8;
  $dairyFontColor:#0B0B61;
  $dreamlandsBGColor:#2B2B2B;
  $dreamlandsFontColor:#efefef;
  $dreamlandsAccentColor:#666;
  $white: #ffffff;
  $darkwhite: #eeeeee;
  $black: #000;
  $lightblack:#333;

  // Media queries

  $portrait: screen and (orientation:portrait);
  $tablet: screen and (max-width:840px);
  $phone: screen and (max-width:540px);